---
import Section from "../Section.astro";

import { projects } from "@cv";
---

<Section id="proyectos" title="Projectos">
    <ul>
        {
            projects.map(
                ({ name, author, description, url, skills, isActive }) => {
                    return (
                        <li>
                            <article>
                                <header>
                                    <h3>
                                        <a
                                            href={url}
                                            title={`Visitar el proyecto ${url}`}
                                        >
                                            {name}
                                        </a>
                                        {isActive && <span>&bull;</span>}
                                    </h3>
                                    <h4>{`Creador del curso -> ${author}`}</h4>
                                    <p>{description}</p>
                                </header>

                                <footer>
                                    <ul>
                                        {skills.map((skill) => {
                                            return <li>{skill}</li>;
                                        })}
                                    </ul>
                                </footer>
                            </article>
                        </li>
                    );
                },
            )
        }
    </ul>
</Section>

<style>
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1.5rem;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border: 1px solid #f2f2f2;
        border-radius: 8px;
        padding: 16px;
        height: 100%;
    }

    article header {
        flex: 1;
    }

    article h3 {
        margin-bottom: 4px;
        font-size: 0.9rem;
    }

    article h3 span {
        color: #14d835;
    }

    article h4 {
        margin-bottom: 10px;
        font-size: 0.7rem;
        color: #444;
    }

    article a {
        color: #222;
    }

    article a:hover {
        text-decoration: underline;
    }

    footer li {
        background: #cacaca;
        color: black;
        font-size: 0.9rem;
        border-radius: 8px;
        padding: 0.3rem;
        font-weight: 600;
        text-align: center;
        font-style: italic;
    }
    li:hover {
        background: #e6e6e6;
        border-radius: 8px;
    }
</style>
